
@use 'sass:math';

$container: 1301;
$containerLarge: 1722;
$containerMin: 970;

:root {
	--title-font: 'Inter', sans-serif;
	--main-font: 'Inter', sans-serif;
	
	--accent: #99FBFF;
	--accent-active: #00DAE3;
	--accent-gradient: linear-gradient(90deg, #99FBFF, #00DAE3, #99FBFF, #939393, #565656, #939393);
	--accent-gradient-alt: linear-gradient(90deg, #99FBFF, #00DAE3, #99FBFF, #575757, #7E7E7E, #343434);
	--accent-gradient-2: linear-gradient(90deg, #939393 0%, #565656 48.44%, #939393 100%);
	--accent-gradient-2-alt: linear-gradient(90deg, #575757 0%, #7E7E7E 48.44%, #343434 100%);
	--accent-gradient-3: linear-gradient(90deg, #99FBFF 0%, #00DAE3 48.44%, #99FBFF 100%);
	

	--white: #FFF;
	--black: #000;
	--dark-gray: #8f8f8f;
	--light-gray: #F8F8F8;
	--light-gray-2: #CACACA;

	--container-padding: 20px;
}

@font-face {
	@include font-include('Inter', 300, swap, normal, 'Inter-Light');
}

@font-face {
	@include font-include('Inter', 400, swap, normal, 'Inter-Regular');
}

@font-face {
	@include font-include('Inter', 500, swap, normal, 'Inter-Medium');
}

@font-face {
	@include font-include('Inter', 600, swap, normal, 'Inter-SemiBold');
}

@font-face {
	@include font-include('Inter', 700, swap, normal, 'Inter-Bold');
}

@font-face {
	@include font-include('Poppins', 400, swap, normal, 'Poppins-Regular');
}

@font-face {
	@include font-include('Poppins', 500, swap, normal, 'Poppins-Medium');
}

@font-face {
	@include font-include('Poppins', 600, swap, normal, 'Poppins-SemiBold');
}

@font-face {
	@include font-include('Roboto', 500, swap, normal, 'Roboto-Medium');
}

@font-face {
	@include font-include('Roboto', 700, swap, normal, 'Roboto-Bold');
}
