.checkout {

	// .checkout__decor

	&__decor {
		display: none;
		@include _992 {
			position: absolute;
			right: calc(50% - 670px); top: 200px;
			z-index: -1;
			user-select: none; pointer-events: none;
			display: block;

			& img {
				width: 700px; height: auto;
				transform: translate(7%,0);
				filter: blur(5px);
			}
		}
		
	}

	// .checkout__header

	&__header {
		@include _768 {
			display: flex;
			justify-content: flex-end;
		}
	}

	// .checkout__title

	&__title {
		width: 100%;
		justify-content: flex-start;
		text-align: left;
		@include _768 {
			justify-content: flex-end;
		}
	}

	// .checkout__body

	&__body {
		background: #FFFFFF;
		box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.07);
		border-radius: 8px;

		display: grid;
		grid-template-columns: 100%;
		gap: 70px 0;
		padding: 15px;
		@media (min-width: 390px) {
			padding: 30px;
		}
		margin-top: 60px;
		@include _550 {
			padding: 35px; margin-top: 50px;
		}
		@include _768 {
			gap: 0 15px;
			grid-template-columns: 45% auto;
		}
		@include _992 {
			gap: 0 50px;
			grid-template-columns: 40% auto;
		}

		
	}

	// .checkout__col

	&__col {
		align-self: self-start;
		
	}

	// .checkout__grid

	&__grid {
		display: grid;
		grid-template-columns: 100%;
		gap: 25px;
		
		@include _992 {
			grid-template-columns: 1fr 1fr;
			&:not(.checkout__col) {
				grid-column: 2 span;
			}
		}
	}

	&__returning {
		@include _992 {
			grid-column: 2 span;
			margin-bottom: 37px;
		}
		

		display: flex;

		&--icon {
			margin-right: 10px; margin-top: 2px;

			& svg {
				fill: url(#gray-gradient);
			}
		}

		& ul {
			display: flex;
			flex-direction: column;

			margin: -8.5px 0;

			& li {
				padding: 8.5px 0;

				display: flex;
				flex-wrap: wrap;

				& span {
					margin-right: 5px;		
				}
			}
		}
	}

	// .checkout__legend

	&__legend {
		text-align: left;
		@include _992 {
			grid-column: 2 span;
		}
		padding-bottom: 30px;
	}

	// .checkout__label

	&__label {
		
		&:not(._min) {
			
			@include _992 {
				grid-column: 2 span;	
			}
		}
	}

	// .checkout__checkbox

	&__checkbox {
	}

	// .checkout__box

	&__box {
	}

	// .checkout__input

	&__input {
	}

	// .checkout__element

	&__element {
	}

	// .checkout__text

	&__text {
	}

	// .checkout__order

	&__order {
		
		@include _768 {
			grid-column: 2 span;
			margin-top: 90px;
		}
		
		@include _992 {
			margin-top: 90px;
		}
	}

	// .checkout__table

	&__table {

		// .checkout__table--head

		&--head {
			display: grid;
			grid-template-columns: 40% auto;

			& > b {
				font-weight: 600;
				font-size: 1.25rem;
				line-height: 150%;
			}
		}
	}

	// .checkout__product

	&__product {

		padding: 20px 0;

		border-bottom: 1px dashed #DBDBDB;

		display: grid;
		grid-template-columns: minmax(230px, auto) auto;

		& > * {
			align-self: center;
		}
		@include _550 {
			padding: 24px 0;
			grid-template-columns: minmax(250px, 25%) minmax(50px, 12.5%) auto;
		}

		// .checkout__product--info

		&--info {
			display: flex;
			align-items: center;
		}

		// .checkout__product--image

		&--image {
			margin-right: 15px;

			& img {
				border-radius: 8px;
				object-fit: contain;
			}
		}

		// .checkout__product--name

		&--name {
			max-width: 142px;
		}

		// .checkout__product--length

		&--length {
			& span {
				background: var(--accent-gradient-2);
				background-clip: text;
				color: transparent;
			}
		}

		// .checkout__product--price

		&--price {
			display: none;
			@include _550 {
				display: inline-block;
			}
			& span {
				background: var(--accent-gradient-2);
				background-clip: text;
				color: transparent;
			}
		}
	}

	// .checkout__total

	&__total {
		padding: 20px 0;
		display: grid;
		grid-template-columns: minmax(150px, 40%) auto;

		& > b {
			font-size: 1.25rem;
			font-weight: 600;
			& span {
				background: var(--accent-gradient-2);
				background-clip: text;
				color: transparent;
			}
		}
		
		&:not(:last-child) {
			border-bottom: 1px dashed #DBDBDB;
		}
	}

	// .checkout__footer

	&__footer {
		padding-top: 90px;

		@include _768 {
			grid-column: 2 span;
		}

		display: flex;
		align-items: flex-start;
		flex-direction: column;
	}

	// .checkout__min-row

	&__min-row {
		display: flex;
		flex-wrap: wrap;

		margin: -15px -25px;

		& > * {
			padding: 15px 25px;
		}
	}

	// .checkout__radio

	&__radio {
	}

	// .checkout__note

	&__note {
		margin-top: 20px;

		background: #F8F8F8;
		border-radius: 8px;

		padding: 25px;

		& span {
			background: var(--accent-gradient-2);
			background-clip: text;
			color: transparent;
		}
	}

	// .checkout__privacy

	&__privacy {
		margin-bottom: 30px; margin-top: 30px;
		@include _550 {
			margin-top: 40px;
		}
		font-size: 1.125rem;
		line-height: 150%;
	}

	// .checkout__submit

	&__submit {
		margin-top: 45px;
	}
}
